.box {
  padding: 16px 24px;
  background-color: #cdffe4;
  color: red;
  border: 1px solid #cdffe4;
  border-radius: 8px;
  max-width: 500px;
  margin: 24px auto;
  text-align: center;
  font-size: 16px;
  animation: fadeIn 0.4s ease;
}
