.LoadMoreButton {
  display: block;
    height: 40px;
    background-color: blue;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 8px 16px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin-bottom: 32px;
  }
  .LoadMoreButton:hover {
    background-color: #4078a8;
  }
  .LoadMoreButton:focus,
.LoadMoreButton:focus-visible {
  outline: 1px auto rgb(231, 187, 187);
}